.noSubmitButtons {
	.buttons {
		display: none;
	}
}

.submitAll {
	.buttons {
		display: block;
		margin-top: 0;
		margin-bottom: 0;

		.buttons-cluster {
			text-align: center;
		}

		.buttons-action {
			float: none;
			width: auto;
			margin-right: 0;
			margin-left: 0;
			margin-bottom: @button-margin-bottom;

			& .disabled {

			}
		}
	}

}
